---
layout: default
title:Blog WA
---
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <link rel="apple-touch-icon" sizes="57x57" href="{{ "/assets/img/apple-icon-57x57.png" | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="60x60" href="{{ "/assets/img/apple-icon-60x60.png" | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ "/assets/img/apple-icon-72x72.png" | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="76x76" href="{{ "/assets/img/apple-icon-76x76.png" | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ "/assets/img/apple-icon-114x114.png" | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="120x120" href="{{ "/assets/img/apple-icon-120x120.png" | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="144x144" href="{{ "/assets/img/apple-icon-144x144.png" | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ "/assets/img/apple-icon-152x152.png" | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/img/apple-icon-180x180.png" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="192x192"  href="{{ "/assets/img/android-icon-192x192.png" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ "/assets/img/favicon-32x32.png" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="96x96" href="{{ "/assets/img/favicon-96x96.png" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ "/assets/img/favicon-16x16.png" | prepend: site.baseurl }}">
  <link rel="manifest" href="{{ "/assets/img/manifest.json" | prepend: site.baseurl }}">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="{{ "/assets/img/ms-icon-144x144.png" | prepend: site.baseurl }}">
  <meta name="theme-color" content="#2f4f4f">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="//cdn.rawgit.com/konpa/devicon/master/devicon.min.css">
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">
</head>
<div id="particles-js">
  <div class="content" itemscope itemtype="http://schema.org/Person">
      <h1>
        <span class="site-title" itemprop="name" >{{site.username}}</span>
        <span class="site-description" itemprop="jobTitle" >{{site.user_title}}</span>
      </h1>
      <div class="icons-header">
        <a aria-label="Send email" href="mailto:{{site.email}}"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My Instagram" target="_blank" href="https://instagram.com/{{site.twitter_username}}"><i class="icon fa fa-instagram" aria-hidden="true"></i></a>
        <a aria-label="My Linkedin" target="_blank" href="https://linkedin.com/in/{{site.gplus_username}}"><i class="icon fa fa-linkedin" aria-hidden="true"></i></a>
        <a aria-label="My Github" target="_blank" href="https://github.com/{{site.github_username}}"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
      </div>
      <a class="link" href="#about" data-scroll>About Me</a>
      <a class="link" href="#projects" data-scroll>Projects</a>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
<div class="container">
  <div class="user-details">
    <h3> My Expertise </h3>
    <h6>I always keep in constant learning and evolution</h6>
    <h6>I don't stop.</h6>
    <p>In the field of IT I am passionate about and perform well in fields related to server services, programming languages(JS, Ruby, Python), I love everything related to ethical hacking, to do certain things, SQL injection, XSS, RFI, LFI, AV, MSF. 
    I love teaching pentesting and other topics
    </p>
    <small>I am currently living in Bogota, Colombia</small>
  </div>
  <div class="row user">
    <div class="four columns">
      <h4>Design</h4>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>I am meticulous when designing a website, minify and compress, SEO, speed test, demanding and committed.</p>
    </div>
    <div class="four columns">
      <h4>Code</h4>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>I always try to be at the forefront in the latest technologies about backend, Vue.js, Angular, among others...</p>
    </div>
    <div class="four columns">
      <h4>Tools</h4>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>The tools for programmers are of vital importance, so I keep up to date on the automation of tasks and others.</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="user-details">
    <h3> Featured Projects </h3>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="CMS with rails" src="{{ "/assets/img/IS.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Innovation Student(CMS) </h5>
      <li> Rails5, Bootstrap4, TinyMCE, Ruby, Html</li>
      <p>Innovation Student is a Content Manager Sistem(CMS). This is intended for students who want to learn in practice html and css, through posts and how to structure them.</p>
      <a class="project-link" href="https://github.com/WillArevalo/Project-S2/tree/master/student">Check it out</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="Notevares_apk" src="{{ "/assets/img/fullscreen-activity.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> No Te Vares </h5>
      <ul>
        <li> Java, Design, Permissions, JS, AndroidStudio</li>
      </ul>
      <p>"No te vares" is the application(apk) where you can have a map and geo-referencing to find your sites of interest thanks to open street map, responsive design</p>
      <a class="project-link" href="https://github.com/WillArevalo/Notevares_apk">Check it out</a>
    </div>
  </div>
</div>
<footer class="footer"><p><a class="button" href="https://github.com/WillArevalo/-Certificates"><i class="fa fa-certificate" aria-hidden="true"></i>Certificates</a> <a class="button" href="https://github.com/WillArevalo/"><i class="fa fa-folder-open-o" aria-hidden="true"></i>Projects</a></p><p>&copy; {{site.username}} 2017</p> </footer> <script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script> <script src="{{ "/assets/js/sweet-scroll.min.js" | prepend: site.baseurl }}"></script> <script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>
<!-- Google Analytics -->
{% if site.google-analytics %}
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
ga('create', '{{ site.google-analytics.id }}', 'auto');
ga('send', 'pageview');
</script>
{% endif %}