<div class="container">
  <div class="user-details">
    <br>
    <img id="photo" alt="photo" src="https://raw.githubusercontent.com/hohoonzzang/hohoonzzang.github.io/master/hohoon.png" style="border-radius: 50%;">
    <br>
    <h3>HoHoon Cha</h3>
    <h5>Computer Engineering &#8226; Developer &#8226; Suwon, South Korea &#8226; co029@naver.com</h5>
    <br>
    <h3><p style="text-align: left;">My History</p></h3>
    <p style="text-align: left;">&#8226; 2014. 02 ~ 2018. 02: 정보통신공학과 재학 및 전문학사졸업<br>
    &#8226; 2015. 03 ~ 2016. 12: 육군 1군수지원단 예하 통신병 복무 및 전역<br>
    &#8226; 2017. 07 ~ 2019. 07: ㈜이엔씨테크놀로지 근무<br>
    &#8226; 2020. 05 ~ 2020. 08: Android App 미세영 출시 <br>
    &#8226; 2020. 11 ~ 2021. 05: 엔오비즈 근무<br>
    &#8226; 2022. 05 ~ 2023. 06: 이노토피아 근무<br>
    <br>
  </div>
  <hr style="border: solid 0.3px rgb(190, 190, 190);">
</div>

