<div class="container">
  <div class="user-details">
    <br>
    <img id="photo" alt="photo" src="https://raw.githubusercontent.com/hohoonzzang/hohoonzzang.github.io/master/hohoon.png" style="border-radius: 50%;">
    <br>
    <h3>HoHoon Cha</h3>
    <h5>Computer Engineering &#8226; Developer &#8226; Suwon, South Korea &#8226; co029@naver.com</h5>
    <br>
    <h3> My History </h3>
    <h3><p style="text-align: left;">My History</p></h3>
    <p style="text-align: left;">&#8226; 2014. 02 ~ 2018. 02: 정보통신공학과 재학 및 전문학사졸업<br>
    &#8226; 2015. 03 ~ 2016. 12: 육군 1군수지원단 예하 통신병 복무 및 전역<br>
    &#8226; 2017. 07 ~ 2019. 07: ㈜이엔씨테크놀로지 근무<br>
    &#8226; 2020. 05 ~ 2020. 08: Android App 미세영 출시 <br>
    &#8226; 2020. 11 ~ 2021. 05: 엔오비즈 근무<br>
    &#8226; 2022. 05 ~ 2023. 06: 이노토피아 근무<br>
    <br>
  </div>
  <div class="row user">
    <div class="four columns">
      <h4>Design</h4>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-javascript-plain colored"></i>
      <p>I am meticulous when designing a website, minify and compress, SEO, speed test, demanding and committed.</p>
    </div>
    <div class="four columns">
      <h4>Code</h4>
      <i class="devicon-python-plain-wordmark colored"></i>
      <i class="devicon-django-plain-wordmark colored"></i>
      <i class="devicon-amazonwebservices-plain-wordmark colored"></i>
      <p>I always try to be at the forefront in the latest technologies about backend, React.js, Bootstrap, among others...</p>
    </div>
    <div class="four columns">
      <h4>Tools</h4>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>The tools for programmers are of vital importance, so I keep up to date on the automation of tasks and others.</p>
    </div>
  </div>
</div>
