<div class="container">
    <h2 class="spacing"><i class="fa fa-graduation-cap" aria-hidden="true"></i>
 Carrers</h2>
    <h2 class="spacing"><i class="fa fa-certificate" aria-hidden="true"></i>
 Certificates</h2>
    <!--Data Scientist-->
    <div class="row">
        <div class="three columns"><img class="u-max-full-width" alt="RedesNeuronalesYBackpropagation" src="{{ "/assets/img/certificates/RedesNeuronalesYBackpropagation.png" | prepend: site.baseurl }}" /></div>
        <div class="three columns"><img class="u-max-full-width" alt="IntroducciónAMachineLearning" src="{{ "/assets/img/certificates/IntroducciónAMachineLearning.png" | prepend: site.baseurl }}" /></div>
        <div class="three columns"><img class="u-max-full-width" alt="ProfesionalDeDataScience" src="{{ "/assets/img/certificates/ProfesionalDeDataScience.png" | prepend: site.baseurl }}" /></div>
        <div class="three columns"><img class="u-max-full-width" alt="BigDataYCienciaDeDatos" src="{{ "/assets/img/certificates/BigDataYCienciaDeDatos.png" | prepend: site.baseurl }}" /></div>
    </div>
    <!--Pentester-->
    <div class="row">
        <div class="three columns"><img class="u-max-full-width" alt="CursoDePentesting" src="{{ "/assets/img/certificates/CursoDePentesting.png" | prepend: site.baseurl }}" /></div>
        <div class="three columns"><img class="u-max-full-width" alt="IntroducciónALaSeguridadInformática" src="{{ "/assets/img/certificates/IntroducciónALaSeguridadInformática.png" | prepend: site.baseurl }}" /></div>
        <div class="three columns"><img class="u-max-full-width" alt="CursoDeAdministraciónDeServidoresLinux" src="{{ "/assets/img/certificates/CursoDeAdministraciónDeServidoresLinux.png" | prepend: site.baseurl }}" /></div>
        <div class="three columns"><img class="u-max-full-width" alt="IntroducciónATerminalYLíneaDeComandos" src="{{ "/assets/img/certificates/IntroducciónATerminalYLíneaDeComandos.png" | prepend: site.baseurl }}" /></div>
    </div>
    <!--Data Scientist-->
    <div class="row">
        <div class="three columns"><img class="u-max-full-width" alt="RedesNeuronalesYBackpropagation" src="{{ "/assets/img/certificates/RedesNeuronalesYBackpropagation.png" | prepend: site.baseurl }}" /></div>
        <div class="three columns"><img class="u-max-full-width" alt="IntroducciónAMachineLearning" src="{{ "/assets/img/certificates/IntroducciónAMachineLearning.png" | prepend: site.baseurl }}" /></div>
        <div class="three columns"><img class="u-max-full-width" alt="ProfesionalDeDataScience" src="{{ "/assets/img/certificates/ProfesionalDeDataScience.png" | prepend: site.baseurl }}" /></div>
        <div class="three columns"><img class="u-max-full-width" alt="BigDataYCienciaDeDatos" src="{{ "/assets/img/certificates/BigDataYCienciaDeDatos.png" | prepend: site.baseurl }}" /></div>
    </div>
    <!--Data Scientist-->
    <div class="row">
        <div class="three columns"><img class="u-max-full-width" alt="RedesNeuronalesYBackpropagation" src="{{ "/assets/img/certificates/RedesNeuronalesYBackpropagation.png" | prepend: site.baseurl }}" /></div>
        <div class="three columns"><img class="u-max-full-width" alt="IntroducciónAMachineLearning" src="{{ "/assets/img/certificates/IntroducciónAMachineLearning.png" | prepend: site.baseurl }}" /></div>
        <div class="three columns"><img class="u-max-full-width" alt="ProfesionalDeDataScience" src="{{ "/assets/img/certificates/ProfesionalDeDataScience.png" | prepend: site.baseurl }}" /></div>
        <div class="three columns"><img class="u-max-full-width" alt="BigDataYCienciaDeDatos" src="{{ "/assets/img/certificates/BigDataYCienciaDeDatos.png" | prepend: site.baseurl }}" /></div>
    </div>
    <!--Data Scientist-->
    <div class="row">
        <div class="three columns"><img class="u-max-full-width" alt="RedesNeuronalesYBackpropagation" src="{{ "/assets/img/certificates/RedesNeuronalesYBackpropagation.png" | prepend: site.baseurl }}" /></div>
        <div class="three columns"><img class="u-max-full-width" alt="IntroducciónAMachineLearning" src="{{ "/assets/img/certificates/IntroducciónAMachineLearning.png" | prepend: site.baseurl }}" /></div>
        <div class="three columns"><img class="u-max-full-width" alt="ProfesionalDeDataScience" src="{{ "/assets/img/certificates/ProfesionalDeDataScience.png" | prepend: site.baseurl }}" /></div>
        <div class="three columns"><img class="u-max-full-width" alt="BigDataYCienciaDeDatos" src="{{ "/assets/img/certificates/BigDataYCienciaDeDatos.png" | prepend: site.baseurl }}" /></div>
    </div>
</div>