<div class="container">
    <h2 class="spacing"><i class="fa fa-graduation-cap" aria-hidden="true"></i>
 Carrers</h2>
    <h2 class="spacing"><i class="fa fa-certificate" aria-hidden="true"></i>
 Certificates<span>Some certificates</span></h2>
    <div class="row">
        <div class="three columns"><img class="u-max-full-width" alt="RedesNeuronalesYBackpropagation" src="{{ "/assets/img/certificates/RedesNeuronalesYBackpropagation.png" | prepend: site.baseurl }}" /></div>
        <div class="three columns"><img class="u-max-full-width" alt="IntroducciónAMachineLearning" src="{{ "/assets/img/certificates/IntroducciónAMachineLearning.png" | prepend: site.baseurl }}" /></div>
        <div class="three columns"><img class="u-max-full-width" alt="ProfesionalDeDataScience" src="{{ "/assets/img/certificates/ProfesionalDeDataScience.png" | prepend: site.baseurl }}" /></div>
        <div class="three columns"><img class="u-max-full-width" alt="BigDataYCienciaDeDatos" src="{{ "/assets/img/certificates/BigDataYCienciaDeDatos.png" | prepend: site.baseurl }}" /></div>
    </div> 
</div>