<footer class="footer">
    <div class="row user-projects">
        <div class="three columns">
            <a class="project-link" href="https://github.com/WillArevalo/">Other Projects</a>
        </div>    
        <div class="three columns">
            <p>&copy; {{site.username}} 2017</p>
        </div>
        <div class="three columns">
            <a class="project-link" href="https://github.com/WillArevalo/-Certificates">Other Projects</a>
        </div>
    </div>
</footer>
<script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="{{ "/assets/js/sweet-scroll.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>
{% include google-analytics.html %}
