<div class="container">
  <div class="user-details">
    <h3> Featured Projects </h3>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Project Title </h5>
      <li> Featured Skills</li>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <a class="project-link" href="#">Check it out</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="Notevares_apk" src="{{ "/assets/img/collage.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> No Te Vares </h5>
      <ul>
        <li> Java, Design, Permissions, JS</li>
      </ul>
      <p>"No te vares" is the application where you can have a map and geo-referencing to find your sites of interest thanks to open street map, responsive design</p>
      <a class="project-link" href="https://github.com/WillArevalo/Notevares_apk">Check it out</a>
    </div>
  </div>
</div>
