<div class="container">
  <div class="user-details">
    <h3> Featured Projects </h3>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="CMS with rails" src="{{ "/assets/img/IS.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Innovation Student(CMS) </h5>
      <ul>
        <li> Rails5, Bootstrap4, TinyMCE, Ruby, Html</li>
      </ul>
      <p>Innovation Student is a Content Manager Sistem(CMS). This is intended for students who want to learn in practice html and css, through posts and how to structure them.</p>
      <a class="project-link" href="https://github.com/WillArevalo/Project-S2/tree/master/student">Check it out</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="Notevares_apk" src="{{ "/assets/img/fullscreen-activity.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> No Te Vares </h5>
      <ul>
        <li> Java, Design, Permissions, JS, AndroidStudio</li>
      </ul>
      <p>"No te vares" is the application(apk) where you can have a map and geo-referencing to find your sites of interest thanks to open street map, responsive design</p>
      <a class="project-link" href="https://github.com/WillArevalo/Notevares_apk">Check it out</a>
    </div>
  </div>
</div>
