<div class="user-details">
<h2><p style="text-align: left;">Language</p></h2>
</div>

<br><br>

<div class="usertech">
  <div class="tech">
    <style type="text/css">
    .line1{
  border-right:none;
  border-left:none;
  border-top:none;
  border-bottom:none;
}
    .line2{
  text-align:center; 
  font-size:large; 
  border-right:none;
  border-left:none;
  border-top:none;
  border-bottom:none;
}</style>
  <table class="tech_table">
    <style> 
    tr{text-align:center; font-size: large; valign:top; padding:0px; margin-right: 0px;}
    table{border:0}</style>
    <tr>
      <td class="line1"><img src="../assets/img/Language/c.jpg" class="techImg"></td>
      <td class="line1"><img src="../assets/img/Language/c++.png" class="techImg"></td>
      <td class="line1"><img src="../assets/img/Language/java.png" class="techImg"></td>
      <td class="line1"><img src="../assets/img/Language/kotlin.png" class="techImg"></td>
    </tr>
    <tr>
      <td class="line2">C</td>
      <td class="line2">C++</td>
      <td class="line2">Java</td>
      <td class="line2">Kotlin<td>
    </tr>
  </table>
    <hr style="border: solid 0.3px rgb(190, 190, 190);"><br>
</div> 
