<div class="user-details">
<p><h1> Skills </h1></p>
</div>

<br><br>

<div class="usertech">
  <div class="tech">
    <style type="text/css">
    .line1{
  border-right:none;
  border-left:none;
  border-top:none;
  border-bottom:none;
}
    .line2{
  text-align:center; 
  font-size:large; 
  border-right:none;
  border-left:none;
  border-top:none;
  border-bottom:none;
}</style>
  <h2><p style="text-align:center;">Language</p></h2>
  <table class="tech_table">
    <tr>
      <div style="text-align:center;">
      <td class="line1"><img src="../assets/img/Language/c.jpg" class="techImg"></td>
      <td class="line1"><img src="../assets/img/Language/c++.png" class="techImg"></td>
      <td class="line1"><img src="../assets/img/Language/java.png" class="techImg"></td>
      <td class="line1"><img src="../assets/img/Language/kotlin.png" class="techImg"></td>
      </div>
    </tr>
    <tr>
      <div style="text-align:center;">
      <td class="line2">C</td>
      <td class="line2">C++</td>
      <td class="line2">Java</td>
      <td class="line2">Kotlin<td>
      </div>
    </tr>
  </table>
  <h5><p style="text-align:center;">Programming</p></h5>
  <br>
    <hr style="border: solid 0.3px rgb(190, 190, 190);"><br>
</div> 
