<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
      {% include header.html %}
        <div class="container">
          <div class="user-details">
            <h3> My Expertise </h3>
            <h6>I always keep in constant learning and evolution</h6>
            <h6>I don't stop.</h6>
            <p>In the field of IT I am passionate about and perform well in fields related to server services, programming languages(JS, Ruby, Python), I love everything related to ethical hacking, to do certain things, SQL injection, XSS, RFI, LFI, AV, MSF. 
            I love teaching pentesting and other topics
            </p>
            <small>I am currently living in Bogota, Colombia</small>
          </div>
        </div>
      <section id="blog">
        <div class="container">
            {{ content }}
        </div>
      </section>   
      {% include footer.html %}
  </body>