<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
      {% include header.html %}
      <section id="about">
        {% include about.html %}
      </section>   
      <section id="projects">
        {% include projects.html %}
      </section>
        {{ content }}
      {% include footer.html %}
      <script>
            var x = document.getElementById("site-desc");
            var y = 0;
            setInterval(() => {
                y++;
            }, 4000)
            if (y == 0){
                x.innerHTML = "Fronted Developer";
            }
            else if(y == 1){
                x.innerHTML = "Backend Developer";
            }
            else if(y == 2){
                x.innerHTML = "Passionate Data Science";
            }
            else if(y == 3){
                x.innerHTML = "Full-Stack Developer";
                y = 0;
            }
      </script>
  </body>
