<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
      {% include header.html %}
      <section id="about">
        {% include about.html %}
      </section>   
      <section id="projects">
        {% include projects.html %}
      </section>
        {{ content }}
      {% include footer.html %}
      <script>
            var x = document.getElementById("site-desc");
            var y = 0;
            setInterval(() => {
                if (y == 0){
                    x.innerHTML = "Fronted Developer";
                    y++;
                }
                else if(y == 1){
                    x.innerHTML = "Backend Developer";
                    y++;
                }
                else if(y == 2){
                    x.innerHTML = "Passionate Data Science";
                    y++;
                }
                else if(y == 3){
                    x.innerHTML = "Full-Stack Developer";
                    y = 0;
                }
            }, 4000)
      </script>
  </body>
